
if SHIELD_KYRIA_LEFT || SHIELD_KYRIA_REV2_LEFT || SHIELD_KYRIA_REV3_LEFT

config ZMK_KEYBOARD_NAME
    default "Kyria"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if  SHIELD_KYRIA_REV3_RIGHT || SHIELD_KYRIA_REV3_LEFT

config ZMK_SPLIT
    default y


endif
