if SHIELD_SOLARIS_LEFT

config ZMK_KEYBOARD_NAME
    default "Ksolaris"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif
if SHIELD_SOLARIS_LEFT || SHIELD_SOLARIS_RIGHT

config ZMK_SPLIT
    default y

endif
