#include <physical_layouts.dtsi>

/ {
    solaris_layout: solaris_layout {
        compatible = "zmk,physical-layout";
        display-name = "Solaris Layout";
        
        keys  
           
            = <&key_physical_attrs 100 100    0    0       0     0     0>  
            , <&key_physical_attrs 100 100  100    0       0     0     0>   
            , <&key_physical_attrs 100 100  200    0       0     0     0> 
            , <&key_physical_attrs 100 100  300    0       0     0     0> 
            , <&key_physical_attrs 100 100  400    0       0     0     0> 
            , <&key_physical_attrs 100 100  500    0       0     0     0> 
            
             
            , <&key_physical_attrs 100 100    0  100       0     0     0> 
            , <&key_physical_attrs 100 100  100  100       0     0     0>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
            , <&key_physical_attrs 100 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  400  100       0     0     0>
            , <&key_physical_attrs 100 100  500  100       0     0     0>
            
                        
            , <&key_physical_attrs 100 100    0  200       0     0     0> 
            , <&key_physical_attrs 100 100  100  200       0     0     0> 
            , <&key_physical_attrs 100 100  200  200       0     0     0> 
            , <&key_physical_attrs 100 100  300  200       0     0     0> 
            , <&key_physical_attrs 100 100  400  200       0     0     0> 
            
            
            , <&key_physical_attrs 100 100  250  320    1500   300   370> 
            , <&key_physical_attrs 100 100  350  340    1500   400   390>   
            , <&key_physical_attrs 100 100  450  360    1500   500   410> 
            
            
            , <&key_physical_attrs 100 100  700    0       0     0     0>  
            , <&key_physical_attrs 100 100  800    0       0     0     0>  
            , <&key_physical_attrs 100 100  900    0       0     0     0>  
            , <&key_physical_attrs 100 100 1000    0       0     0     0>  
            , <&key_physical_attrs 100 100 1100    0       0     0     0>  
            , <&key_physical_attrs 100 100 1200    0       0     0     0>  
            
            
            , <&key_physical_attrs 100 100  700  100       0     0     0>  
            , <&key_physical_attrs 100 100  800  100       0     0     0> 
            , <&key_physical_attrs 100 100  900  100       0     0     0> 
            , <&key_physical_attrs 100 100 1000  100       0     0     0> 
            , <&key_physical_attrs 100 100 1100  100       0     0     0> 
            , <&key_physical_attrs 100 100 1200  100       0     0     0> 
            
            
            , <&key_physical_attrs 100 100  800  200       0     0     0>  
            , <&key_physical_attrs 100 100  900  200       0     0     0>  
            , <&key_physical_attrs 100 100 1000  200       0     0     0>  
            , <&key_physical_attrs 100 100 1100  200       0     0     0>  
            , <&key_physical_attrs 100 100 1200  200       0     0     0>  
            
            // Right side - thumb cluster (rotated keys)
            , <&key_physical_attrs 100 100  750  360   (-1500)  750   410>  
            , <&key_physical_attrs 100 100  850  340   (-1500)  850   390>  
            , <&key_physical_attrs 100 100  950  320   (-1500)  950   370>  
            ;
    };
};